#scroller * {
  overflow-anchor: none;
}

#anchor {
  overflow-anchor: auto;
  height: 1px;
}

/* pulse.css */
@keyframes pulseOpacity {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.2;
  }
}

.pulse-icon {
  animation: pulseOpacity 2s ease-in-out infinite;
}

table {
  align-self: center;
}

.ant-list-item {
  border-block-end: 0 !important;
}

.lunar-user-message::after {
  content: "";
  position: absolute;
  margin-top: -6px;
  margin-left: -5px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #1E3257;
  transform: rotate(270deg) scaleY(2);
  height: 10px;
  right: 10px;
  bottom: -5px;
}

.ant-list-item-meta-description {
  display: flex;
  flex-direction: column;
}

.ant-table-content {
  display: flex;
  flex-direction: column;
}